{% extends "layout.html" %}
{% import "helpers.html" as h with context %}
{% block content %}
<div class="question">
    <h2>{{ q.title }}</h2>
    <div class="text">
        {% include q.template %}
    </div>
    {% if not q.opened_by_user(g.user) %}
        <form action="" method="post">
            <input type="submit" name="open_question" value="Open question" />
        </form>
    {% else %}
    <div class="answers">
        {% for a in answers if not a.type=='opener' %}
            <div class="answer">
                <h4>{{a.title}}</h4>
                {%- if a.language != 'normal-text' -%}
                <div class="codehilite">
                {%- code a.language -%}
                {{a.body|trim()|safe}}
                {%- endcode -%}
                </div>
                {%- else -%}
                {{a.body}}
                {%- endif -%}
                <a href="{{ url_for('quiz.edit_answer', question_id=q.id, answer_id=a.id) }}">edit</a>
            </div>
        {% endfor %}
    </div>
    <div class="answer_form">
        <form action="" method="post">
            {{ h.render_field(form.title) }}
            {{ h.render_field(form.body) }}
            {{ h.render_field(form.language )}}
            <label for="add_answer">&nbsp;</label>
            <input type="submit" name="add_answer" value="Add answer" />
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}
