{%- from "helpers.html" import render_field -%}
{% extends "layout.html" %}

{% block content %}
    <h2>Drop me a line</h2>
    <p>I would love to hear from you, so don't hesitate to drop me a line</p>
    <div class="contact-form">
        <form method="post" action="">
            {{ render_field(form.name) }}
            {{ render_field(form.email) }}
            {{ render_field(form.message) }}
            <label for="submit">&nbsp;</label>
            <input type="submit" name="submit" value="Send" />
        </form>
    </div>
{% endblock %}



